* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to right,
    rgb(116, 235, 213),
    rgb(172, 182, 229)
  );
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 1rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: white;
  background: grey;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button :hover {
  color: #a5e9e1;
  background: grey;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background: #facf5a;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: #124e96;
}
.complete-btn:hover {
  color: #66d37e;
}
.trash-btn {
  background: #66d37e;
}
.trash-btn:hover {
  color: #ff94c7;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check-circle {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #2a363b;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: #2a363b;
  color: #f96d15;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
}

.select:hover::after {
  background: #388186;
  color: #f72464;
}

/* footer by gp */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  background-color: lightblue;
  color: #fff;
}
section {
  text-align: center;
}
.footer #button {
  width: 35px;
  height: 35px;
  border: #727172 12px solid;
  border-radius: 35px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.footer #button:hover {
  width: 35px;
  height: 35px;
  border: #3a3a3a 12px solid;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}
.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 2em;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
}
.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 10em;
}
.footer #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #3a3a3a;
}
.footer #cont {
  position: relative;
  top: -45px;
  right: 190px;
  width: 150px;
  height: auto;
  margin: 0 auto;
}
.footer_center {
  width: 500px;
  float: left;
  text-align: center;
}
.footer h3 {
  font-family: "Helvetica";
  font-size: 30px;
  font-weight: 100;
  margin-top: 70px;
  margin-left: 40px;
}
